body {
    background-color: black;
    color: white;

}

.header {
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.name{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.icons{
    display: flex;
    justify-content: center;
    gap:20px

}

.iconLink{
    display: flex;
    align-items: center;
    filter: invert(100%);
    width: 25px;
}

.linkicon{
    width: 25px;
}

.galleryImg{
    width: 100%;
    height: auto;
}

.galleryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.headerLinks{
    text-decoration: none; 
    color: gray;
    margin-right: 2rem;
}

.headerLinkSelected{
    text-decoration: none; 
    color:inherit;
    margin-right: 2rem;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .header {
        padding-right: 0;
    }

    .bodyContainer {
        padding: 10px;
    }

    .name {
        font-size: large;
    }

    .galleryContainer{
        padding-top: 28rem;
    }

    .headerLinks{
        margin-right: 0.6rem;
    }

    .headerLinkSelected{
        margin-right: 0.6rem;
    }
}