body {
    background-color: black;
    color: white;

}

.header {
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.name{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.icons{
    display: flex;
    justify-content: center;
    gap:20px

}

.iconLink{
    display: flex;
    align-items: center;
    filter: invert(100%);
    width: 40px;
}

.linkicon{
    width: 25px;
}